body {
    background-image: url(../img/lizgrin-f-lsQZfwPlKos-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

/* Scritta per la ricerca */
main div {
    margin: 100px auto;
    width:25%;
}

main h1 {
    color: black;
}
