body {
    /* background-image: url(../img/lizgrin-f-lsQZfwPlKos-unsplash.jpg); */
    background-size: cover;
    background-position: center;
    margin: 0;
    text-align: center;
}

/* Regole per tutto il MAIN */
main h1 {
    color: black;
}

/* Header */
.src {
    font-size: 1.4rem;
    background-color: #FFFB19;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* Form */


/* Input */
input, button {
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    margin-left: 6px;
}


/* Sezione per i risultati della ricerca */
.showRes {
    background-color: #6900EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.search {
    font-size: 1.4rem;
    width: 25%;
    background-color: azure;
    border-radius: 7%;
    padding: 20px 0 20px 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line {
    width: 90%;
    border-style: solid;
    border-block-end: none;
}

